In [1]:
import pandas as pd
import os
location = '/Users/santhoshvasudevan/Documents/WebDev/djangodash/AMFI/'
#directory = os.fsencode(location)
Funds_df_list = []

def getSummary(listofframes):
    x = 1
    TI,TV,Summary = pd.DataFrame(),pd.DataFrame(),pd.DataFrame()
    for chucko in listofframes:
        TI['TI_'+str(x)] = chucko['Total Investment']
        TV['TV_'+str(x)] = chucko['Total Value']
        x += 1
    
    TI.fillna(0,inplace = True)
    TV.fillna(0,inplace = True)
    Summary = pd.DataFrame(TI.sum(axis =1)).copy()
    Summary.columns = ['Overall Invested']
    Summary['Portfolio Value'] = pd.DataFrame(TV.sum(axis=1))
    return Summary


for files in os.listdir(location):
    #filename = os.fsdecode(files)
    if files.endswith(".csv"):
        df = pd.read_csv(os.path.join(location,files))
        df.set_index('Date',inplace = True)
        Funds_df_list.append(df)
        

#summary_df = getSummary(Funds_df_list)
#summary_df

In [8]:
x = 1
TI,TV,Summary = pd.DataFrame(),pd.DataFrame(),pd.DataFrame()
# newdf = pd.DataFrame()
# Kotak = Funds_df_list[2][['Total Investment']]
# PPFAS
# Kotak
# newdf = TI_list.merge(Kotak)
# newdf
for chucko in Funds_df_list:
    TI = TI.join(chucko[['Total Investment']],how = 'outer',rsuffix = str(x))
    TV = TV.join(chucko[['Total Value']],how = 'outer',rsuffix = str(x))
    #TI['TI_'+str(x)] = chucko['Total Investment']
    #TV['TV_'+str(x)] = chucko['Total Value']
    #TI_list = TI_list.join(loc,how = 'outer')
    x += 1
#     if x == 3:
#         print(TI_list)
#         break

# TI_list.fillna(0,inplace = True)
# TI_list
TI.fillna(0,inplace = True)
TV.fillna(0,inplace = True)
Summary = pd.DataFrame(TI.sum(axis =1))
Summary.columns = ['Overall Invested']
Summary['Portfolio Value'] = pd.DataFrame(TV.sum(axis=1))
Summary

            Overall Invested  Portfolio Value
Date
2019-10-09          50000.00         49999.99
2019-10-10          50000.00         49824.49
2019-10-11          50000.00         49838.76
2019-10-14          50000.00         50389.00
2019-10-15          50000.00         50675.21
...                      ...              ...
2020-06-29        1533092.45       1422578.77
2020-06-30        1533092.45       1421928.57
2020-07-01        1533092.45       1433656.32
2020-07-02        1533092.45       1449471.07
2020-07-03        1533092.45       1457416.28

[181 rows x 2 columns]

In [34]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
 

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                     'B': ['B4', 'B5', 'B6', 'B7'],
                     'C': ['C4', 'C5', 'C6', 'C7'],
                     'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])
 
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                     'B': ['B8', 'B9', 'B10', 'B11'],
                     'C': ['C8', 'C9', 'C10', 'C11'],
                     'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])
 
frames = [df1, df2, df3]
result = pd.concat(frames)
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11